*   {
    background-color:blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

#container
    {
    text-align: center;
    }

.proper
    {
    height: 400px;
    width: 400px; 
    }

